<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form method="post" action="item/add">
            <label for="picture">Picture:</label>
            <input type="text" id="picture" name="picture"><br><br>

            <label for="information">Information:</label>
            <input type="text" id="information" name="information"><br><br>

            <label for="period">Period:</label>
            <input type="text" id="period" name="period"><br><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>

            <label for="reserveprice">Reserveprice:</label>
            <input type="text" id="reserveprice" name="reserveprice"><br><br>

            <label for="auctionperiod">Auctionperiod:</label>
            <input type="text" id="auctionperiod" name="auctionperiod"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>