<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form method="post" action="item/add">
            <label for="caseNumber">CaseNumber:</label>
            <input type="text" id="caseNumber" name="caseNumber"><br><br>

            <label for="court">Court:</label>
            <input type="text" id="court" name="court"><br><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>

            <label for="minimumBidPrice">MinimumBidPrice:</label>
            <input type="text" id="minimumBidPrice" name="minimumBidPrice"><br><br>

            <label for="photo">Photo:</label>
            <input type="text" id="photo" name="photo"><br><br>

            <label for="biddingPeriod">BiddingPeriod:</label>
            <input type="text" id="biddingPeriod" name="biddingPeriod"><br><br>

            <label for="itemType">ItemType:</label>
            <input type="text" id="itemType" name="itemType"><br><br>

            <label for="note">Note:</label>
            <input type="text" id="note" name="note"><br><br>

            <label for="managementNumber">ManagementNumber:</label>
            <input type="text" id="managementNumber" name="managementNumber"><br><br>

            <label for="xcoordinate">ManagementNumber:</label>
            <input type="text" id="xcoordinate" name="xcoordinate"><br><br>

            <label for="ycoordinate">ManagementNumber:</label>
            <input type="text" id="ycoordinate" name="ycoordinate"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>