<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>CaseNumber</th>
            <th>Court</th>
            <th>Location</th>
            <th>MinimumBidPrice</th>
            <th>Photo</th>
            <th>BiddingPeriod</th>
            <th>ItemType</th>
            <th>Note</th>
            <th>ManagementNumber</th>
        </tr>

        <tr th:each="item: ${itemList}">
            <td th:text="${item.getCaseNumber()}"></td>
            <td th:text="${item.getCourt()}"></td>
            <td th:text="${item.getLocation()}"></td>
            <td th:text="${item.getMinimumBidPrice()}"></td>
            <td th:text="${item.getPhoto()}"></td>
            <td th:text="${item.getBiddingPeriod()}"></td>
            <td th:text="${item.getItemType()}"></td>
            <td th:text="${item.getNote()}"></td>
            <td th:text="${item.getManagementNumber()}"></td>
        </tr>
    </table>
</body>
</html>