<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Userid</th>
            <th>Password</th>
            <th>Residentid</th>
            <th>Phonenum</th>
            <th>Address</th>
        </tr>

        <tr th:each="user: ${userinfoList}">
            <td th:text="${user.getUserid()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getResidentid()}"></td>
            <td th:text="${user.getPhonenum()}"></td>
            <td th:text="${user.getAddress()}"></td>
        </tr>
    </table>
</body>
</html>